.message {
  display: grid;
  justify-content: flex-start;
  padding-top: 26px;
}

.imageAndText {
  grid-template-columns: auto auto auto;
  /* Два ряда */
  /*grid-template-rows: auto auto;*/
  /* Автоматическое размещение в ряд */
  grid-auto-flow: row;
  /* Отступы между ячейками */
  gap: 20px;
}

.imageAndText img {
  width: 70px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 7px #666;
}

.text {
  /*width: 110%;*/
  /*height: 45%;*/
  background-color: #F5F7FB;
  filter: drop-shadow(1px 2px 3px rgba(10, 9, 9, 0.18));
  border-radius: 8px;
}

.text:after {

}

.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 8px 10px 0 10px;
}

.messageText {
  font-family: 'Montserrat', sans-serif;
  margin: 0 10px;
}

.time {
  margin-top: 5px;
  margin-left: 18px;
  font-size: 14px;
  font-weight: bold;
}