.friendMessage {
  /*display: flex;*/
  justify-content: flex-end;
  padding: 26px 0 0;
}

.friendImageAndText {
  grid-template-columns: auto auto auto;
  /* Два ряда */
  /*grid-template-rows: auto auto;*/
  /* Автоматическое размещение в ряд */
  grid-auto-flow: row;
  /* Отступы между ячейками */
  /*gap: 20px;*/
}

.friendImageAndText img {
  width: 70px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 7px #666;
}

.friendText {
  grid-row-start: 1;
  margin-right: 20px;
  /*width: 110%;*/
  /*height: 45%;*/
  background-color: #0066CC;
  border-radius: 8px;
}

.friendText:after {

}

.friendName {
  font-weight: bold;
  padding: 8px 10px 0 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.friendMessageText {
  margin: 0 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.friendTime {
  margin-top: 5px;
  margin-right: 12px;
  font-size: 14px;
  font-weight: bold;
  justify-content: end;
}
