.sendForm {
  grid-template-columns: auto 120px;
}

.textarea {
  padding: 12px 24px;
  margin-right: 44px;
  width: 95%;
  height: 40px !important;
  min-width: 100px;
  /*max-width: 500px;*/
  background-color: #f5f7fb;
  border-radius: 20px;
  border: none;
  filter: drop-shadow(1px 2px 3px rgba(10, 9, 9, 0.18));
  resize: none;
}

.button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #0066cc;
  border-radius: 20px;
  border: none;
}

.button:hover {
  background: #58acff;
}

/* .button:active {
} */
